<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoomTempMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.RoomTemp">
        <!--@Table room_temp-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
        <result property="clientPhone" column="client_phone" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, client_name, client_phone, create_time, room_id
        from HMS.room_temp
        where room_id = #{roomId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, client_name, client_phone, create_time, room_id
        from HMS.room_temp
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, client_name, client_phone, create_time, room_id
        from HMS.room_temp
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="clientName != null and clientName != ''">
                and client_name = #{clientName}
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                and client_phone = #{clientPhone}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into HMS.room_temp(client_name, client_phone,  room_id)
        values (#{clientName}, #{clientPhone},  #{roomId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update HMS.room_temp
        <set>
            <if test="clientName != null and clientName != ''">
                client_name = #{clientName},
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                client_phone = #{clientPhone},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from HMS.room_temp where room_id = #{roomId}
    </delete>

</mapper>