<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
        <!--@Table user-->
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
        <result property="scout" column="scout" jdbcType="VARCHAR"/>
        <result property="imgPath" column="imgPath" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryByUUid" resultType="com.example.demo.entity.User">
        select
          id, uuid, name, password, email, phone, gender, role, scout, imgPath, status
        from HMS.user
        where uuid = #{uuid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select * from user order by id limit ${page}, ${count}
    </select>

    <select id="queryByName" resultType="java.lang.Boolean">
        select * from user where name = #{name}
    </select>

    <select id="searchByUserName" resultMap="BaseResultMap">
        <bind name="pattern1" value="'%'+name+'%'"/>
        select * from HMS.user where name like #{pattern1}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          uuid, name, password, email, phone, gender, role, scout
        from HMS.user
        <where>
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="scout != null and scout != ''">
                and scout = #{scout}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="uuid" useGeneratedKeys="true">
        insert into HMS.user(uuid,name, password, email, phone, gender, role, scout, imgPath, status)
        values (#{uuid}, #{name}, #{password}, #{email}, #{phone}, #{gender}, #{role}, #{scout},#{imgPath}, #{status})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update HMS.user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="scout != null and scout != ''">
                scout = #{scout},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="imgPath != null and imgPath != ''">
                imgPath = #{imgPath},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from HMS.user where uuid = #{uuid}
    </delete>

    <select id="verifyUser" resultType="com.example.demo.entity.User">
        select * from user
        where
              name = #{name} and password = #{password} and status = 1
    </select>

    <select id="verifyAdmin" resultType="com.example.demo.entity.User">
        select * from user
        where
            name = #{name} and password = #{password} and status = 1 and role = 1
    </select>

    <select id="getUserByName" resultType="com.example.demo.entity.User">
        select * from user where name = #{name}
    </select>
</mapper>